<h1>Editing registration</h1>

<h2>Pricing</h2>


<p>Total cost for this registrant: <%= @price_info[:base_price] %></p>
<p>Total paid: <%= @price_info[:amount_paid] %></p>
<p>Balance owing: <%= @price_info[:amount_owed] %></p>
