<h2>Administrator Home</h2>
<h1>All Events:</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.name %></td>
    <td>
    <% if event.start != nil && event.end != nil then %>
      <% start_date = Date.parse(event.start.to_s) %>
      <% end_date = Date.parse(event.end.to_s) %>
      <% if end_date < Date.today then %>
        Over
      <% elsif start_date < Date.today then %>
        Ongoing!
      <% else %>
        <%= start_date.strftime("%B %e, %Y") %>
      <% end %>
    <% else %>
      Unknown
    <% end %>
    </td>
    <td><%= link_to 'Administrate', event %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
