
<h2>Event Administration Home</h2>

You can administrate the following events:

<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.name %></td>
    <td>
    <%=h format_event_start_date(event) %>
    </td>
    <td><%= link_to 'Administrate', event %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
