<h2><%=h @campus.description %> registrations for: <%=h @event.name %></h2>



<table>
  <tr>
    <th>Last Name</th>
    <th>Frist Name</th>
    <th>Registration Date</th>
    <th>Email</th>
    <th>Cash Received</th>
    <th>Staff Name</th>
    <th>Status</th>
    <th>Balance Owing</th>
    <th></th>
  </tr>

<% @event.get_registrations().each do |registration| %>
  
  <tr><%=h registration.id %></tr>
  
<% end %>
</table>
